NEXT_PUBLIC_SITE_URL=https://www.cicekyolla.com.tr
NEXT_PUBLIC_API_ORIGIN=https://cicekyolla-api.onrender.com
NEXT_PUBLIC_COMPANY_NAME=Çiçek Yolla İnternet Hizmetleri Sanayi Ticaret Limited Şirketi
NEXT_PUBLIC_COMPANY_ADDRESS=Altay Çeşme Mahallesi Adalı Sokak No 37-A Maltepe / İstanbul
NEXT_PUBLIC_LEGAL_EMAIL=info@cicekyolla.com.tr
NEXT_PUBLIC_LEGAL_PHONE=0507 441 34 74
NEXT_PUBLIC_MERSIS_NO=
NEXT_PUBLIC_WHATSAPP_NUMBER=905074413474
NEXT_PUBLIC_R2_PUBLIC_BASE=
