NEXT_PUBLIC_SITE_URL=https://www.cicekyolla.com.tr
NEXT_PUBLIC_API_ORIGIN=https://cicekyolla-api.onrender.com
NEXT_PUBLIC_COMPANY_NAME=
NEXT_PUBLIC_COMPANY_ADDRESS=
NEXT_PUBLIC_LEGAL_EMAIL=
NEXT_PUBLIC_LEGAL_PHONE=
NEXT_PUBLIC_MERSIS_NO=
NEXT_PUBLIC_WHATSAPP_NUMBER=
NEXT_PUBLIC_R2_PUBLIC_BASE=
